<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sertex</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/account.css">

    <link rel="shortcut icon" href="/assets/logo.png">

</head>

<body>
    <noscript>
        <style>
            .loginpage {
                display: none;
            }
        </style>
        <h1>Enable JavaScript in your browser please</h1>
    </noscript>
    <div class="crcblur"></div>
    <div class="loginpage">
        <h1>Login to Discord account</h1>
        <p class="lg_subheading">Enter your account token below</p>
        <input type="password" autocomplete="off" spellcheck="false" class="lg_tokeninput" id="lg_token" autofocus>
        <br>
        <button type="submit" class="lg_btn" id="loginbtn">Login</button>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>