.sidebar_servers-list {
    background-color: #222;
    width: 60px;
    height: 100%;
    z-index: 999;
    position: fixed;
    text-align: center;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.sidebar-dm {
    background-color: #2f3136;
    width: 220px;
    height: 100%;
    z-index: 999;
    position: fixed;
    margin-left: 50.5px;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.sidebar-dm_header-hasbanner {
    width: 220px;
    height: 85px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
}

.sidebar-dm_header-nobanner {
    height: auto;
    padding: 16px;
}

#sidebar-dm_dmlist {
    margin-bottom: 1em;
}

.sidebar_logo {
    width: 45px;
    border-radius: 100%;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
    transition: border-radius 300ms;
}

.sidebar_logo:hover {
    border-radius: 16px;
}

.sidebar_sertexLogo {
    background-color: #2f3136;
}

.sidebar_guildSeparator {
    display: block;
    margin: auto;
    background-color: #4E5058;
    width: 2em;
    border-radius: 24px;
}

.sidebar-dm_user {
    display: inline-block;
    margin-left: 5px;
    border-radius: 16px;
    padding: 3px 8px;
    width: 190px;
    text-align: left;
    cursor: pointer;
    transition: all 300ms;
    font-size: 14px;
    user-select: none;
}

.sidebar-dm_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    text-shadow: #000 1px 0 10px;
    font-size: 16px;
}

.dm_user-username {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
    font-size: 14px;
}

.dm_user-avatar {
    width: 28px;
    height: 28px;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 16px;
}

.sidebar-dm_user:hover {
    background: rgba(64, 69, 75, 0.5);
    color: #fff;
}

.sidebar-dm_user:active {
    background-color: #40454b;
}

.channelslist_category {
    color: #fff;
    font-size: 18px;
    user-select: none;
}

.dev_buttons {
    margin-top: 3em;
}